$primaire:#9356D0;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$color-light:rgb(246,246,246);
$color-medium:rgb(234,234,234);
$color-dark:rgb(53, 53, 53);

/* Loader */
#loader{
width:100%;
height:100%;
position:fixed;
background-color: $color-light;
animation: opacite 5s linear;
animation-delay:5s;
animation-iteration-count:1;

    #items{
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
       
        .spinner-1{
            color:$primaire;
            width:30px;
            animation: rotation 6s;
            animation-iteration-count:1;
            transition-timing-function:linear;
        }
        .spinner-2{
            color:$secondaire;
            width:30px;
            animation: rotation 5s linear;
            animation-iteration-count:1;
        }
        .spinner-3{
            color:$tertiaire;
            width:30px;
            animation: rotation 5s;
            animation-iteration-count:1;
            
        }
    }
}
@keyframes opacite{
    from{
        opacity:10;
    }
    to{
        opacity:0;
    }
}

@keyframes rotation{
    from{
    transform:rotate(0deg);
    }
    to{
    transform:rotate(30deg);
    }
}


